---
---
/* DIANA dark blue: 2C3E50; DIANA light blue: 3B97D3 */
/* Original padding-top was 6rem */
body {
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: #2C3E50;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #ffffff;
}
.carousel-item > img {
  height: 32rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/* DIANA/HEP color scheme -style links */
/*
a{color:#2200AA;text-decoration:none;}
a:hover,a:focus{color:#2C3E50;text-decoration:underline;}
*/


/*settings for hover mode in the main navigation: */
nav .navbar-brand:hover {
	text-shadow: 1px 0px 0px black;
}



nav a:hover {
	text-shadow: 1px 0px 0px black;
}



/*settings for hyperlinks in the main body:  */
main a:link {
	color: #06C;
	text-decoration: underline;
}

main a:visited {	
	color: #7598BB;
	text-decoration: underline;
	font-weight: normal;
}

main a:focus {
	color: #7598BB;
	text-decoration: underline;
}

main a:hover {
	font-weight: normal;
	color: #06C;
	text-shadow: 1px 0px 0px #06C;
	text-decoration: underline;
	
}

main a:active {
	color:#06C;
	text-shadow: 1px 0px 1px #06C;
	text-decoration: underline;
}


a .dropdown-toggle {
	color: blue;
}


.dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 190px;
    padding: 15px 0px 5px 0px;
    margin: 0px 0 0 0;
  /*  font-size: 14px; */
    text-align: left;
    list-style: none;
    background-color: #fff;
	color: gray;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 2px;
    box-shadow: 2px 3px 12px 2px rgba(0,0,0,.275);
}


ul ul li:hover> ul{
	visibility:visible;
}

ul ul ul {
	visibility: hidden;
}



.navbar-collapse.collapse.show {
  max-height: 50vh;
  overflow-y: auto;
  
}


.navbar-collapse.collapse.show {
  max-width: 100vw;
  overflow-x: auto;

}

.navbar-expand-md {
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 6px 12px rgba(0,0,0,.275);
}






/* for multilevel menu*/

.dropdown-menu {
    margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 90%;
    top: -50%;
    margin:0 0 0 10px;
    border-width: 0;
}

.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
	background:#8b85bf; 
	/*#9AB1F3;*/
	color: black;
}
.dropdown-menu > li.show > a{
	background: #8b85bf;
	color: black;
}
.dropdown-menu li a {
white-space: normal;
  word-break: break-word;
}

@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin:0;
       /* border-width: 1px;*/
    }
}

/*Custom Color of the navbar*/
.bg-light {
	 background-color: #CEF2F4 !important;
}
.img-fluid {
  max-width: 100%;
  height: 100vh;/*auto;*/
}

#accordion .card-header a {
	text-decoration: none;
	font-weight: 600;
	
}
.card-header {
	background-color: rgba(208, 246, 248, 0.28)
}

.card-body ul {list-style: none;}












